---
layout: page
title_ch: 关于我
title: ABOUT ME
description: "Hi, this is HaoJie Wu, nice to meet you."
header-img: "img/about-bg.jpg"
---

<script type="text/javascript">
    window.onload= function() {
        var myDate = new Date();
        var now = myDate.toLocaleDateString();     //获取当前日期
         document.getElementById('count_time').innerHTML=now;
    }
</script>

<style>
    .post-container img{
        margin: 0 0;
    }
    p{
        margin: 20px 0;
    }
    .post-container ul, .post-container ol{
        margin: 0 0;
    }
    #img_id{
        width: 160px;
        height: 190px;
        float: left;
    }
    #jianjie{

        float: left;
    }
    .title_style{
        font-size: 18px;
        padding-left: 8px;
        font-weight: bold;
    }
    .line_title{
        list-style-type: square
    }
    .line_text{
        margin-bottom: 10px;
    }
    .thanks_img{
        width: 50px;
        height: 50px;
        float: left;
        /*margin-left: 10px;*/
        padding-left: 10px;
    }
</style>

<div class="zh post-container">
    <blockquote>
       人不疯狂枉年少，且狂，且痴，且醉。
    </blockquote>
    <hr>
<div>
    <div id="img_id"><img src="/img/in-post/about/me.jpg"></div>
    <div id="jianjie">
        <h3><img src="/img/in-post/about/man.png" style="display: inline-block; width: 35px ;height:35px;margin: 0 15px 0 8px">吴浩杰</h3>
        <ul>
            <li>
                <img src="/img/in-post/about/sex.png" style="display: inline-block; width: 20px ;height: 20px;"><span style="margin-left: 10px">男</span>
            </li>
            <li>
                <img src="/img/in-post/about/gps.png" style="display: inline-block; width: 20px ;height: 20px"><span style="margin-left: 10px">北京-朝阳</span>
            </li>
            <li>
                <img src="/img/in-post/about/phone.png" style="display: inline-block; width: 20px ;height: 20px"><span style="margin-left: 10px">18500148965</span>
            </li>
            <li>
                <img src="/img/in-post/about/email.png" style="display: inline-block; width: 20px ;height: 20px"><span style="margin-left: 10px">415900617@QQ.com</span>
            </li>
        </ul>

    </div>
</div>
    <p style="clear: both;margin: 0 0;">&nbsp;&nbsp;&nbsp;&nbsp;用博客记录生活和工作的点点滴滴，苔花如米小，也学牡丹开，
        纵使自己很渺小，但一定会给这个世界增添点点温暖。年轻为自己而奋斗，年老，就让回忆去祭奠一切吧！<br>
        <li>截至：<span id="count_time">

        </span>&nbsp;&nbsp;共计博文：6&nbsp;篇，博客总字数:
        {% assign count = 0 %}
        {% for post in site.posts %}
        {% assign single_count = post.content | strip_html | strip_newlines | size %}
        {% assign count = count | plus: single_count %}
        {% endfor %}
        {% if count > 10000 %}
        {{ count | divided_by: 10000 }} 万 {{ count | modulo: 10000 }}
        {% else %}
        {{ count }}
        {% endif %}字</li>
    </p>

    <h3>Work Process</h3>

    <p>★ 一枚爬虫工程师，并对大数据处理与分析充满无限的兴趣，享受数据分析之美。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;18年毕业于软件工程，对大数据充满了无限的热情，实习阶段主要从事传统网站开发，后面接触到了
    大数据，便喜欢上了大数据这个圈子。<br>&nbsp;&nbsp;&nbsp;&nbsp;关于爬虫方面，掌握并使用webmagic、scrapy、request-html、selenium、puppeteer等爬虫框架。
    <br>&nbsp;&nbsp;&nbsp;&nbsp;关于ETL数据清洗，掌握并使用离线Python版自定义框架，Java版kafka-stream流式数据处理。
    因为从毕业之后一直接触数据性工作，因此对Hadoop生态圈常用组件都有所了解，关于spark，了解Java版本spark简单使用，并掌握Python版本Dpark与Pyspark的使用。
    <br>&nbsp;&nbsp;&nbsp;&nbsp;关于数据同步，了解并自定义开发及使用过阿里的DataX相信自己会在大数据的生态圈内越走越远，数据之美，值得我去探索。</p>
    <hr>
    <h3>工作经历</h3>
    <!--第三份工作-->
    <p> &nbsp;<i class="fa fa-spin fa-star" aria-hidden="true" style="color:#0085A1"></i><span class="title_style">宜信-北京致诚信用管理有限公司(依然在职)</span></p>
    <p>
        <ul>
            <li class="line_title"><b>全国各大招聘网、房产网数据获取 </b></li>
            <li class="line_text">使用 scrapy 框架对全国各大招聘网（拉钩，boss，智联等 8 个），房产网（链家，我爱 我家等 7 个）网站全量数据获取并保持数据同步更新，并通过 kafka Stream 对抓取数据 按既定规则进行流式ETL处理，最终数据存储至MongoDB，并对热点数据实时更新至基 于redis的图数据库redisGraph并对外提供API查询接口。 <br>开发技能：：Python scrapy框架，Mysql数据库，kafka Stream流式处理，Linux服务器，redisGraph 图数据库、MongoDB数据库 </li>

            <li class="line_title"><b>企查查，天眼查等工商数据，法院公告，开庭公告等信息获取 </b></li>
            <li class="line_text">使用 webmagic 框架对企查查、天眼查、启信宝等工商信息进行获取，使用 scrapy， selenium等框架对法院公告等信息进行获取，对全量数据进行获取并保持同步更新并存储 至MySQL，同时基于工商数据，实现企业Logo筛选算法。 <br>开发技能：Python scrapy框架，Mysql数据库，JAVA webmagic框架</br></li>
			
			<li class="line_title"><b>大众点评等各类反爬解密并分析</b></li>
            <li class="line_text"> 对大众点评网前端加密数据进行破解，成功解密并获取其美食信息，并使用echarts对其 美食信息进行数据分析；对各类微信小程序，手机APP信息使用Fiddler，jadx等工具进 行解密获取其数据接口。<br>个人技能：Fiddler，jadx</br></li>
			
			<li class="line_title"><b>基于微信支付宝信息查询接口开发</b></li>
            <li class="line_text">对支付宝、微信个人信息查询底层接口进行开发，并使用 adb 实现百台手机集群群控管 理，使用 flask 实现底层通讯接口开发，基于 MQTT 协议进行手机通讯，使用 flask-websocket进行手机查询任务发布调度与结果信息反馈。 <br>个人技能：python flask框架、flask-websocket模块；adb手机集群管理 </br></li>
			
			<li class="line_title"><b>基于Tasker对手机短信验证码抓取</b></li>
            <li class="line_text">在爬虫自动化数据获取中，遇到需要登录的网站，往往需要接收手机验证码，因此，基于tasker实现手机验证码自动化接口开发，实现爬虫自动化信息获取。<br>个人技能：python flask框架、Tasker自动化工具</br></li>
        </ul>
    </p>
    <hr>
    <!--第二份工作-->
    <p> &nbsp;<i class="fa fa-spin fa-star" aria-hidden="true" style="color:#0085A1"></i><span class="title_style">北京坚果金服科技公司</span></p>
    <p>
        <ul>
            <li class="line_title"><b>大数据数据ETL处理</b></li>
            <li class="line_text">对风控项目中的海量数据使用本公司自己开发的框架进行ETL处理。职责：风控项目中，对公司数据集数据仓库中的数据配合团队进行ETL操作，处理成需要的数据供团队其他成员使用。<br>开发语言：PYTHON, JAVA </li>
            <li class="line_title"><b>大数据平台数据处理与监控</b></li>
            <li class="line_text">对多类服务器及数据库中数据进行ETL处理，并对每日处理结果进行监控预警，动态反馈调整规则，提高数据处理效率。<br>开发语言：PYTHON</li>
        </ul>
    </p>
    <!--第一份工作-->
    <hr>
    <p> &nbsp;<i class="fa fa-spin fa-star" aria-hidden="true" style="color:#0085A1"></i><span class="title_style">北京新华多媒体数据有限公司</span></p>
    <p>
        <ul>
            <li class="line_title"><b>主流新闻网站爬虫开发</b></li>
            <li class="line_text">使用 scrapy 框架对新华网，人民网等多个不同类型主流新闻网站进行抓取数据抓取，结合redis实现多服务器分布式部署抓取，途中主要涉及网页动态加载，通过抓包解决各种请求，并最终实现功能。<br>开发语言：PYTHON</li>
            <li class="line_title"><b>《影联盟》电影网站开发</b></li>
            <li class="line_text">模块一前台：主要负责电影详细页的页面搭建工作，实现基本静态网站界面搭建，模块二后台：使用ThinkPhP框架完成与MYSQL的连接并实现前台各类需求完成数据交互工作。 模块三在影院座位排布中进行智能推荐，其中调用 3D 立体框架，实现用户选座时角切换，增强用户体验。<br>开发语言：PHP, HTML, JAVASCRIPT, JQUERY,CSS</li>
        </ul>
    </p>



    <h3>Thanks</h3>
    <hr>
    <div>
        <img src="https://gss0.bdstatic.com/-4o3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike80%2C5%2C5%2C80%2C26/sign=1d532bc43a4e251ff6faecaac6efa272/6f061d950a7b02082793b61f68d9f2d3562cc8f2.jpg" class="thanks_img">
        <img src="https://gss3.bdstatic.com/-Po3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike80%2C5%2C5%2C80%2C26/sign=65720bf5366d55fbd1cb7e740c4b242f/5fdf8db1cb1349544ac68f4f5d4e9258d0094ac4.jpg" class="thanks_img">
        <img src="/img/in-post/about/creditesae.png" class="thanks_img">
		<img src="http://creditease.hotjob.cn/wt/CE/web/img!viewWebSiteLogo?brandCode=1&operational=15870ca8f654756bfb42a8a35a8d496f42e4880e7b998533397fd2870a6c9573c032f50b427012b8f93fe43fadfd40b00d6014b8e65528c26eabbdae5d3b8b10c2cf49846e3c533a",  class="thanks_img", style="background-color=blue">
    </div>
</div>









